---
import Layout from '../components/Layout.astro'
---
<Layout headerLogoColor='white' headerIconColor='white' gradient={false} backgroundColorScript={true}>
    <div class="layoutConstraint py-16">
        <h1 class="text-5xl font-bold text-left text-white">Solutions</h1>
        <h2 class="text-3xl font-bold text-left text-white mt-8 italic">Here’s how OneTier meets your needs</h2>
        <p class="text-white mt-2">OneTier offers a variety of solutions to help your business succeed. Our team of experts is dedicated to providing you with the tools you need to grow your business and reach your goals. Whether you need help with marketing, sales, or customer service, we have a solution for you. Our solutions are designed to help you increase revenue, improve customer satisfaction, and drive growth. Contact us today to learn more about how OneTier can help your business succeed.</p>
        <div class="grid grid-cols-3 gap-8">
            <div class="bg-blue aspect-square"></div>
            <div class="bg-blue aspect-square"></div>
            <div class="bg-blue aspect-square"></div>
        </div>
    </div>
</Layout>